.App {
  text-align: center;
  display: flex;
  color: #61dafb;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.App div {
  padding: 20px;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.ActiveUser {
  font-size: 40px;
  /* animation: fadeIn linear 5s; */
}

.Teams div:active {
  color: red
}